# Prettier ignore file
# See: https://prettier.io/docs/ignore

# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/

# Ignore the license, since prettier breaks license detection
LICENSE.md
